doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Blockchain Explorer

  body
    header
      h1 Blockchain Explorer

    main
      .container
        each block in blocks
          .block
            .block-header
              h2 Block Index: #{block.index}
              p Previous Hash: #{block.previoushash}
              p Timestamp: #{block.timestamp}
              p Hash: #{block.hash}
              p Difficulty: #{block.difficulty}
              p Nonce: #{block.nonce}

              p Block: #{typeof(block.data)}
              if block.data && block.data.length === 0
                .transactions
                  each transaction in block.data
                    .transaction
                      h3 Transaction ID: #{transaction.id}
                      p Transaction Hash: #{transaction.hash ? transaction.hash : "N/A"}

                      .transaction-inputs 
                        each input in transaction.inputs
                          p Input txOutId: #{input.txOutId}
                          p Input txOutIndex: #{input.txOutIndex}
                          p Input signature: #{input.signature}

                      .transaction-outputs 
                        each output in transaction.outputs
                          p Output address: #{output.address}
                          p Output amount: #{output.amount}


